<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trivia Review</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')  }}">
</head>
<body>
    <div class="header">
        <h2>Trivia Review</h2>
        <div class="columns">
            <div class="column header-column">Category</div>
            <div class="column header-column">Question</div>
            <div class="column header-column">Answer</div>
            <!-- <div class="column header-column">Date</div> -->
        </div>
    </div>
    <div class="content">
        <div id="row-container" class="row">
            <div class="column content-category"></div>
            <div class="column content-question"></div>
            <div class="column content-answer"></div>
            <!-- <div class="column content-date"></div> -->
        </div>
    </div>
    <div class="button-container">
        <button id="nextButton">Next</button>
        <button id="answerButton">Show Answer</button>
        <button id="rejectButton" class="button-reject">Reject</button>
    </div>
    <script src="{{ url_for('static', filename='js/script.js')  }}"></script>
</body>
</html>